/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3 oct. 2019, 16:26:44
    Author     : 21616011
*/

div {
    border: 1px solid red;
    width: 200px;
}